In [1]:
import pandas as pd

In [5]:
ic_df =pd.read_csv('ic.csv',encoding='cp949')

In [8]:
roic_df = pd.read_csv('roic.csv', encoding='cp949')

In [14]:
ic_df['회사명'].nunique()

810

In [20]:
ic_df = ic_df.dropna(axis = 0)

In [38]:
ent_name = ic_df[ic_df['회계년도'].values == '2023/12']['회사명'].unique()

In [49]:
return_ic = pd.DataFrame()
for i in ent_name:
    return_ic = pd.concat([return_ic,ic_df[ic_df['회사명'] == i]])

In [52]:
return_ic.columns = ['회사명','거래소코드','회계년도','유형자산','무형자산','비유동생물자산','기타비유동자산','재고자산']

In [55]:
return_ic['투하자산'] = return_ic['유형자산'] + return_ic['무형자산'] + return_ic['비유동생물자산']+ return_ic['기타비유동자산']+ return_ic['재고자산']

In [60]:
roic_df = roic_df.dropna(axis = 0)

In [62]:
ent_name = roic_df[roic_df['회계년도'].values == '2023/12']['회사명'].unique()

In [63]:
return_roic = pd.DataFrame()
for i in ent_name:
    return_roic = pd.concat([return_roic,roic_df[roic_df['회사명'] == i]])

In [66]:
return_roic.columns = ['회사명','거래소코드','회계년도','매출액','판관비','매출원가','법인세비용']

In [67]:
return_roic['ROIC'] = return_roic['매출액'] - return_roic['판관비'] - return_roic['매출원가'] -return_roic['법인세비용']

In [70]:
return_roic.reset_index(drop=True,inplace=True)

In [71]:
return_ic.reset_index(drop=True,inplace=True)

In [72]:
return_ic.to_csv("투하자산.csv")

In [74]:
return_roic.to_csv("ROIC2.csv")

In [80]:
return_ic[['회사명','거래소코드','회계년도']].to_csv('거래소코드.csv')

In [13]:
import pandas as pd
df = pd.read_csv('투하자산.csv',index_col = 0)
name_2023 = df[df['회계년도'].values == '2023/12']['회사명'].unique() 
name_2022 = df[df['회계년도'].values == '2022/12']['회사명'].unique() 
name_2021 = df[df['회계년도'].values == '2021/12']['회사명'].unique() 
name_2020 = df[df['회계년도'].values == '2020/12']['회사명'].unique() 

intersection = list(set(name_2020).intersection(name_2021))

intersection = list(set(intersection).intersection(name_2022))
                    
intersection = list(set(intersection).intersection(name_2023))

df2 = list(df['회사명'].unique())
difference = [x for x in df2 if x not in intersection]

ind = []
for i in range(len(df)):
    for j in difference:
        if df['회사명'][i] == j:
            ind.append(i)

df = df.drop(index = ind)

df.reset_index(drop=True,inplace=True)

In [16]:
df.to_csv('투하자산.csv')

In [18]:
import pandas as pd
df = pd.read_csv('ROIC2.csv',index_col = 0)
name_2023 = df[df['회계년도'].values == '2023/12']['회사명'].unique() 
name_2022 = df[df['회계년도'].values == '2022/12']['회사명'].unique() 
name_2021 = df[df['회계년도'].values == '2021/12']['회사명'].unique() 
name_2020 = df[df['회계년도'].values == '2020/12']['회사명'].unique() 

intersection = list(set(name_2020).intersection(name_2021))

intersection = list(set(intersection).intersection(name_2022))
                    
intersection = list(set(intersection).intersection(name_2023))

df2 = list(df['회사명'].unique())
difference = [x for x in df2 if x not in intersection]

ind = []
for i in range(len(df)):
    for j in difference:
        if df['회사명'][i] == j:
            ind.append(i)

df = df.drop(index = ind)

df.reset_index(drop=True,inplace=True)

In [20]:
df.to_csv('ROIC.csv')

In [21]:
df.head()

,회사명,거래소코드,회계년도,매출액,판관비,매출원가,법인세비용,ROIC,법인세비율
0,(주)MH에탄올,23150,2020/12,94645239.0,19039358.0,59823958.0,1259646.0,14522277.0,7.981575
1,(주)MH에탄올,23150,2021/12,102066937.0,20520350.0,58211274.0,2879109.0,20456204.0,12.337992
2,(주)MH에탄올,23150,2022/12,110722402.0,21335599.0,67461914.0,-1752590.0,23677479.0,-7.993609
3,(주)MH에탄올,23150,2023/12,105484095.0,21987910.0,64578664.0,2575460.0,16342061.0,13.614152
4,(주)SIMPAC,9160,2020/12,365863303.0,29890518.0,328185407.0,8722209.0,-934831.0,112.004438

In [28]:
df[['회사명','거래소코드','회계년도']].to_csv('거래소코드.csv')

In [26]:
df.to_csv('거래소코드.csv')

In [25]:
df

,회사명,거래소코드,회계년도,매출액,판관비,매출원가,법인세비용,ROIC,법인세비율
0,(주)MH에탄올,23150,2020/12,9.464524e+07,19039358.0,5.982396e+07,1259646.0,14522277.0,7.981575
1,(주)MH에탄올,23150,2021/12,1.020669e+08,20520350.0,5.821127e+07,2879109.0,20456204.0,12.337992
2,(주)MH에탄올,23150,2022/12,1.107224e+08,21335599.0,6.746191e+07,-1752590.0,23677479.0,-7.993609
3,(주)MH에탄올,23150,2023/12,1.054841e+08,21987910.0,6.457866e+07,2575460.0,16342061.0,13.614152
4,(주)SIMPAC,9160,2020/12,3.658633e+08,29890518.0,3.281854e+08,8722209.0,-934831.0,112.004438
...,...,...,...,...,...,...,...,...,...
1803,효성화학(주),298000,2023/12,2.791629e+09,111042585.0,2.869423e+09,-24980344.0,-163855852.0,13.228578
1804,흥아해운(주),3280,2020/12,8.893884e+07,13143526.0,8.159286e+07,-2662465.0,-3135079.0,45.924015
1805,흥아해운(주),3280,2021/12,8.172431e+07,7547899.0,7.605110e+07,3312759.0,-5187447.0,-176.709885
1806,흥아해운(주),3280,2022/12,1.778601e+08,15280780.0,1.329000e+08,-4806716.0,34486038.0,-16.195505
1807,흥아해운(주),3280,2023/12,1.648115e+08,18078419.0,1.221699e+08,-1462157.0,26025385.0,-5.952626